In [2]:
# Haremos una linea de comentario
# Las variables son elementos temporales
x=5

In [7]:
# Como ver un resultado, se ve en el output
print(x)
x+2

5

7

In [8]:
# Distingue mayus de minus
X=3
x+X

8

In [15]:
# Veriables alfanumericas letras + numeros
# entre comillas simples o dobles
dia='Lunes'
print(dia)
print("Hoy es", dia, "y manana martes")

Lunes
Hoy es Lunes y manana martes

In [16]:
x=8
print(x)

8

In [18]:
# Listas, tuplas y diccionarios
semana=['Lunes','Martes','Miercoles','Jueves',15,25,"Enero",15]
semana

['Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

In [19]:
semana[0]

'Lunes'

In [20]:
semana[0]='Domingo'

In [21]:
semana

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

In [28]:
# Funcion len, nos de el numero de caracteres
print(semana)
len(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

8

In [30]:
print(dia)
len(dia)

Lunes

5

In [32]:
print(semana[0])
len(semana[0])

Domingo

7

In [34]:
print(semana)
semana.append('Viernes')
print(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes']
['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes', 'Viernes']

In [35]:
# Para insertar un elemento con insert
semana.insert(1,'Lunes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes', 'Viernes']

In [38]:
# Para ver cuantos veces esta repetido un elemento con count
semana.count('Viernes')

2

In [39]:
semana.count(15)

2

In [40]:
# Eliminar el primer elemento que encuenta con remove
semana.remove('Viernes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes']

In [41]:
semana.remove(15)
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes']

In [42]:
semana.append('Lunes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes', 'Lunes']

In [43]:
del semana[1]
print(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes', 'Lunes']

##### PRACTICA 1: CREAREMOS UNA LISTA LLAMADA MESES, CON LOS MESES DE ENERO A MAYO MENOS ABRIL, ANADIREMOS AL FINAL JUNIO Y JULIO E INSERTAREMOS EN SU SITIO ABRIL, ANADIREMOS AL FINAL 2 VECES FEBRERO Y ALAMCENAREMOS EN UNA VARIABLE EL NUMERO DE VECES QUE ESTA FEBRERO, ELIMINAREMOS LOS FEBRERO SOBRANTES Y EN UN TEXTO VER EL NUMERO DE FEBREROS QUE HABIA

In [10]:
meses=['enero','febrero','marzo','mayo']
print(meses)

meses.append('junio')
meses.append('julio')
meses.insert(3,'abril')
print(meses)

meses.append('febrero')
meses.append('febrero')
print(meses)

x=meses.count('febrero')
print(x)

['enero', 'febrero', 'marzo', 'mayo']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'febrero', 'febrero']
3

In [70]:
del meses[7:]
print(meses)
x=meses.count('febrero')
print(x)

['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
1

In [7]:
numeros = [18,67,75,24]
print(numeros)

[18, 67, 75, 24]

In [72]:
numeros2 = range(5)
print(numeros2)
list(numeros2)

range(0, 5)

[0, 1, 2, 3, 4]

In [73]:
numeros3 = range(10,26,2)
list(numeros3)

[10, 12, 14, 16, 18, 20, 22, 24]

In [2]:
numeros4 = range(32,10,-2)
list(numeros4)

[32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12]

In [3]:
sum(numeros4)

242

In [4]:
max(numeros4)

32

In [5]:
min(numeros4)

12

#### Bucle codigo que se repite hasta que se cumple una condición dada

In [9]:
for i in numeros:
  print(i)
print('terminado')

18
67
75
24
terminado

In [11]:
iter = 1
for mes in meses:
  print("El",iter,"mes del año es",mes)
  iter += 1

El 1 mes del año es enero
El 2 mes del año es febrero
El 3 mes del año es marzo
El 4 mes del año es abril
El 5 mes del año es mayo
El 6 mes del año es junio
El 7 mes del año es julio
El 8 mes del año es febrero
El 9 mes del año es febrero

#### PRACTICA 2: CREAR LA LISTA MESES DE ENERO A DICIEMBRE Y MEDIANTE UN BUCLE FOR IMPRIMIR EL NUMERO Y NOMBRE DE MES, SOLO DE LOS MESES PARES. PONER EN EL TEXTO EL PRIMER MES DEL AÑO ES ENERO, EL SEGUNDO ES FEBRERO

In [14]:
meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre']
cardinal = ['primero', 'segundo', 'tercero', 'cuarto', 'quinto', 'sexto', 'séptimo', 'octavo', 'noveno', 'décimo', 'undécimo', 'duodécimo']

print('el primero mes es enero')
iter = 2
for i in [1, 3, 5, 7, 9, 11]:
  print('el', cardinal[i], 'mes es', meses[i])
  iter += 2

el primero mes es enero
el segundo mes es febrero
el cuarto mes es abril
el sexto mes es junio
el octavo mes es agosto
el décimo mes es octubre
el duodécimo mes es diciembre

In [15]:
palabra = 'Domingo'
for letra in palabra:
  print(letra)

D
o
m
i
n
g
o