In [2]:
# Haremos una linea de comentario
# Las variables son elementos temporales
x=5

In [7]:
# Como ver un resultado, se ve en el output
print(x)
x+2

5

7

In [8]:
# Distingue mayus de minus
X=3
x+X

8

In [15]:
# Veriables alfanumericas letras + numeros
# entre comillas simples o dobles
dia='Lunes'
print(dia)
print("Hoy es", dia, "y manana martes")

Lunes
Hoy es Lunes y manana martes

In [16]:
x=8
print(x)

8

In [18]:
# Listas, tuplas y diccionarios
semana=['Lunes','Martes','Miercoles','Jueves',15,25,"Enero",15]
semana

['Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

In [19]:
semana[0]

'Lunes'

In [20]:
semana[0]='Domingo'

In [21]:
semana

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

In [28]:
# Funcion len, nos de el numero de caracteres
print(semana)
len(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15]

8

In [30]:
print(dia)
len(dia)

Lunes

5

In [32]:
print(semana[0])
len(semana[0])

Domingo

7

In [34]:
print(semana)
semana.append('Viernes')
print(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes']
['Domingo', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes', 'Viernes']

In [35]:
# Para insertar un elemento con insert
semana.insert(1,'Lunes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes', 'Viernes']

In [38]:
# Para ver cuantos veces esta repetido un elemento con count
semana.count('Viernes')

2

In [39]:
semana.count(15)

2

In [40]:
# Eliminar el primer elemento que encuenta con remove
semana.remove('Viernes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 15, 25, 'Enero', 15, 'Viernes']

In [41]:
semana.remove(15)
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes']

In [42]:
semana.append('Lunes')
print(semana)

['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes', 'Lunes']

In [43]:
del semana[1]
print(semana)

['Domingo', 'Martes', 'Miercoles', 'Jueves', 25, 'Enero', 15, 'Viernes', 'Lunes']

##### PRACTICA 1: CREAREMOS UNA LISTA LLAMADA MESES, CON LOS MESES DE ENERO A MAYO MENOS ABRIL, ANADIREMOS AL FINAL JUNIO Y JULIO E INSERTAREMOS EN SU SITIO ABRIL, ANADIREMOS AL FINAL 2 VECES FEBRERO Y ALAMCENAREMOS EN UNA VARIABLE EL NUMERO DE VECES QUE ESTA FEBRERO, ELIMINAREMOS LOS FEBRERO SOBRANTES Y EN UN TEXTO VER EL NUMERO DE FEBREROS QUE HABIA

In [69]:
meses=['enero','febrero','marzo','mayo']
print(meses)

meses.append('junio')
meses.append('julio')
meses.insert(3,'abril')
print(meses)

meses.append('febrero')
meses.append('febrero')
print(meses)

x=meses.count('febrero')
print(x)

['enero', 'febrero', 'marzo', 'mayo']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'febrero', 'febrero']
3

In [70]:
del meses[7:]
print(meses)
x=meses.count('febrero')
print(x)

['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio']
1