In [62]:
# Funcion que separa un texto entre espacios en blanco, split

palabra = 'La proxima clase sera jueves y la siguente lunes, viernes no vengo'
lista = palabra.split()
print(lista)
type(lista)

['La', 'proxima', 'clase', 'sera', 'jueves', 'y', 'la', 'siguente', 'lunes,', 'viernes', 'no', 'vengo']

list

In [63]:
list(lista)

['La',
 'proxima',
 'clase',
 'sera',
 'jueves',
 'y',
 'la',
 'siguente',
 'lunes,',
 'viernes',
 'no',
 'vengo']

In [64]:
# El bucle infinito while (mientras)
i = 1
while i <= 3:
  print(i)
  i += 1

1
2
3

#### PRACTICA 1: MEDIANTE UN BUCLE WHILE, IMPRIMIR EL VALOR DE UNA VARIABLE I SIEMPRE Y CUANDO SEA MENOR DE 50, PARTIREMOS DE I=3 E INCREMENTAREMOS DE 3 EN 3

In [65]:
i = 3
while i < 50:
  print(i, end = ' ')
  i += 3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

#### LIBRERIAS

In [66]:
from datetime import date # Sirve para trabajar con fechas
hoy = date.today()
print(hoy)

2024-09-04

In [67]:
from datetime import datetime
ahora = datetime.now()
print(ahora)

2024-09-04 18:53:06.284989

In [68]:
# Obtener un periodo de una fecha

print(hoy.day)
print(hoy.month)
print(hoy.year)

4
9
2024

In [69]:
# Obtener por separado horas, minutos y segundos
print(ahora.hour)
print(ahora.minute)
print(ahora.second)

18
53
6

PRACTICA 2: CREAR UN CODIGO QUE ME DEVUELVA EL NUMERO DE SEGUNDOS TRANSCURRIDOS ENTRE LA PRIMERA EJERCUCION DE UNA CELDA Y LA SEGUNDA EJECUCION DE OTRA CELDA

In [70]:
celda1 = datetime.now()

In [71]:
celda2 = datetime.now()
print(celda2.second - celda1.second)

0

In [72]:
res = celda2 - celda1
res.total_seconds()

0.015394

In [73]:
# Como ajustar una fecha concreta, 27/08/2024
fecha = datetime(2024,8,27,16,10)
# Con datetime primero ano, despues mes y a continuacion dia
# facha = daetime(Ano, Mes, Dia, Hora, Minuto, Secundo, Milisecundo)
print(fecha)

2024-08-27 16:10:00

#### LAS LIBRERIAS EN PYTHON, LLEVAN FUNCTIONALIDADES ESPESIALES PARA PODER SER UTILIZADAS, PRIMERO LAS TENEMOS QUE INSTALAR Y DESPUES LLAMARLAS, SE INSTALA CON PIP O CONDA

#### PANDAS = SIRVE PARA TRABAJAR CON DATAS
#### NUMPY = PARA TRABAJAR CON MATRICES
#### MATPLOTLIB = PARA CREAR GRAFICOS
#### SCIKIT-LEARN = ANALISIS PREDICTIVO

#### EN EL SIMBOLO SISTEMA (COMO ADMINISTRADOR), HAREMOS PIP LIST (VER LAS LIBRERIAS INSTALADAS) PARA INSTALAR PIP INSTALL PANDAS, SI YA TENGO UNA VERSION DE PANDAS

In [74]:
import pandas as pd

#### Pandas sirve para trabajar con datos, 3 tipos de estructura diferentes, series = estructura de 1 dimension, llevan un indice asociado, data frames = estructuras de 2 dimensiones al estilo de una tabla de uno BBDD, campos + registros paneles = estructuras de 3 dimensiones, como un cubo. Vamos a crear una serie de manera manual, son homodeneas (el mismo tipo de dato)

In [75]:
semana = pd.Series(['Lunes', 'Martes', 'Mercoles', 'Jueves', 'Viernes'])
print(semana)

0       Lunes
1      Martes
2    Mercoles
3      Jueves
4     Viernes
dtype: object

In [76]:
numeros = [12, 34, 45, 345, 45, 123]
sn = pd.Series(data=numeros)
print(sn)

0     12
1     34
2     45
3    345
4     45
5    123
dtype: int64

In [77]:
sn.size

6

In [78]:
# La suma de los elementos de la serie
print(sn.sum())

604

In [79]:
# El promedio de los elementos de una serie, con la funcion mean
# среднее
print(round(sn.mean()))

101

In [80]:
# El valor mas grande y el mas pequeno de la serie
print(sn.max())
print(sn.min())

345
12

In [81]:
# La suma acumulado, com la funcion cumsum
print(sn)
print(sn.cumsum())

0     12
1     34
2     45
3    345
4     45
5    123
dtype: int64
0     12
1     46
2     91
3    436
4    481
5    604
dtype: int64

In [82]:
# Ver la cantidad de veces que se repite cada valor
sn2 = pd.Series([12,23,12,45,23,63,44,23])
print(sn2.value_counts())

23    3
12    2
45    1
63    1
44    1
Name: count, dtype: int64

In [83]:
print(sn2.var()) # дисперсия, мера разброса значений относительно среднего значения.

328.8392857142857

In [84]:
print(sn2.std()) # стандартное отклонение значений в серии.

18.13392637335571

In [85]:
print(sn2.describe()) # генерирует сводку основных статистических характеристик для данных в серии, таких как количество записей, среднее значение, стандартное отклонение, минимальное и максимальное значение, квантили и т.д.

count     8.000000
mean     30.625000
std      18.133926
min      12.000000
25%      20.250000
50%      23.000000
75%      44.250000
max      63.000000
dtype: float64

In [86]:
def suma5(x):
  return x + 5

In [87]:
sn2.apply(suma5)

0    17
1    28
2    17
3    50
4    28
5    68
6    49
7    28
dtype: int64

In [88]:
sn3 = sn2.apply(suma5)
sn3

0    17
1    28
2    17
3    50
4    28
5    68
6    49
7    28
dtype: int64

In [89]:
# Como ordenar una serie
print(sn.sort_values(ascending=True))

0     12
1     34
2     45
4     45
5    123
3    345
dtype: int64

In [90]:
print(sn.sort_values(ascending=False))

3    345
5    123
2     45
4     45
1     34
0     12
dtype: int64

In [91]:
sn4 = sn.sort_values(ascending=True, ignore_index=True)
print(sn4)

0     12
1     34
2     45
3     45
4    123
5    345
dtype: int64

In [92]:
# Como filtrar una serie, los mayores de 60
sn[sn>60]

3    345
5    123
dtype: int64

#### PRACTICA 3: CREAREMOS UNA LISTA CON LOS SIGUENTES NUMEROS 25,17,34,82,124,75,44,63,47,9,81,124,75, CON ESTA LISTA CREAREMOS UNA SERIE DE PANDAS LLAMADA NUMVIP, CLONAREMOS LA SERIE PARA TENER SOLAMENTE LOS NUMEROS MAYORES DE 40 Y ADMEMAS EN ORDER DESCENDENTE + REINDEXADO. LE LLAMAREMOS NUMVIP40, A ESTA NUEVA SERIE LA APLICAREMOS UNA FUNCION QUE SUME 2 Y DIVIDA 1. 25 A CADA ELEMENTO DE LA SERIE. VER DE LA LISTA NUMVIP40 LA CANTIDAD DE VECES QUE SE REPITE CADA NUMERO, VER EN UN TEXTO LA DESVIACION TIPICA DE NUMVIP40, VER UNA TEXTO CON LA VARIANZA DE NUMVIP40 (DESPUES DE APLICAR LA FUNCION)

In [102]:
numvip = pd.Series([25,17,34,82,124,75,44,63,47,9,81,124,75])
numvip40 = numvip[numvip>40].sort_values(ascending=True, ignore_index=True)
print(numvip40)

0     44
1     47
2     63
3     75
4     75
5     81
6     82
7    124
8    124
dtype: int64

In [105]:
def funprac3(x):
  return (x+2)/1.25

In [106]:
res = numvip40.apply(funprac3)
print(numvip)
print(res)

0      25
1      17
2      34
3      82
4     124
5      75
6      44
7      63
8      47
9       9
10     81
11    124
12     75
dtype: int64
0     36.8
1     39.2
2     52.0
3     61.6
4     61.6
5     66.4
6     67.2
7    100.8
8    100.8
dtype: float64

In [107]:
print(res.std())

22.975155663842145

In [109]:
res.value_counts()

61.6     2
100.8    2
36.8     1
39.2     1
52.0     1
66.4     1
67.2     1
Name: count, dtype: int64