#### EN UN FICHERO NUEVO DE PYTHON:
#### CARGAREMOS EL FICHERO TITANIC.CSV Y RESOLVEREMOS LOS SIGUIENTES ENUNCIADOS
#### 1 - VER LOS 6 PRIMEROS NOMBRES DE LOS PASAJEROS DE LA CLASE 1 (DESCENDENTE)
#### 2 - VER LAS 2 ULTIMAS EDADES DE LOS PASAJEROS DE LA CLASE 3
#### 3 - VER LOS 4 PRIMEROS NOMBRES DE LOS PASAJEROS QUE NO SEAN SE LA CLASE 2
#### 4 - VER LOS 6 PRIMEROS PASAJEROS CUYO NOMBRE CONTIENE LA PALABRA MARY
#### 5 - VER LOS 10 PRIMEROS DE NOMRE DE LOS PASAJEROS QUE SOBREVIVIERON
#### (SURVEVID = 0, SURVIVED = 1)

In [3]:
import pandas as pd
titanic = pd.read_csv('Titanic.csv')

In [27]:
task1 = titanic['Pclass'] == 1
titanic[task1].head(6).sort_values(by='Name')['Name']

11                             Bonnell, Miss. Elizabeth
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
27                       Fortune, Mr. Charles Alexander
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                               McCarthy, Mr. Timothy J
23                         Sloper, Mr. William Thompson
Name: Name, dtype: object

In [32]:
titanic[task1]['Name'].head(6).sort_values(ascending=True)

11                             Bonnell, Miss. Elizabeth
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
27                       Fortune, Mr. Charles Alexander
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                               McCarthy, Mr. Timothy J
23                         Sloper, Mr. William Thompson
Name: Name, dtype: object

In [33]:
titanic[task1].Name.head(6).sort_values(ascending=True)

11                             Bonnell, Miss. Elizabeth
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
27                       Fortune, Mr. Charles Alexander
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                               McCarthy, Mr. Timothy J
23                         Sloper, Mr. William Thompson
Name: Name, dtype: object

In [34]:
titanic['Name'][task1].sort_values(ascending=True).head(6)

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
275                  Andrews, Miss. Kornelia Theodosia
Name: Name, dtype: object

In [28]:
filtr1 = titanic['Pclass'] == 1
filtered1 = titanic[task1]
sorted1 = filtered1.sort_values(by='Name')
print(sorted1.head(6)['Name'])

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
275                  Andrews, Miss. Kornelia Theodosia
Name: Name, dtype: object

In [23]:
task2 = titanic['Pclass'] == 3
titanic[task2].tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,"23,45",NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,"7,75",NaN,Q

In [35]:
task2 = titanic['Pclass'] == 3
titanic[task2].tail(2).sort_values(by='Age')['Age']

890     32
888    NaN
Name: Age, dtype: object

In [36]:
titanic[task2]['Age'].tail(2)

888    NaN
890     32
Name: Age, dtype: object

In [24]:
task3 = titanic['Pclass'] != 2
titanic[task3].head(4).sort_values(by='Name')['Name']

1    Cumings, Mrs. John Bradley (Florence Briggs Th...
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                               Heikkinen, Miss. Laina
0                                Pepe, Mr. Owen Harris
Name: Name, dtype: object

In [37]:
titanic[task3].Name.head(4)

0                                Pepe, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
Name: Name, dtype: object

In [25]:
task4 = titanic['Name'].str.contains('Mary')
titanic[task4].head(6).sort_values(by='Name')['Name']

347    Davison, Mrs. Thomas Henry (Mary E Finck)
32                      Glynn, Miss. Mary Agatha
15              Hewlett, Mrs. (Mary D Kingcome)
358                         McGovern, Miss. Mary
322                    Slayter, Miss. Hilda Mary
318                     Wick, Miss. Mary Natalie
Name: Name, dtype: object

In [38]:
titanic[task4]['Name'].head(6)

15              Hewlett, Mrs. (Mary D Kingcome)
32                      Glynn, Miss. Mary Agatha
318                     Wick, Miss. Mary Natalie
322                    Slayter, Miss. Hilda Mary
347    Davison, Mrs. Thomas Henry (Mary E Finck)
358                         McGovern, Miss. Mary
Name: Name, dtype: object

In [39]:
task5 = titanic['Survived'] == 1
titanic[task5].head(10).sort_values(by='Name')['Name']

11                             Bonnell, Miss. Elizabeth
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                Heikkinen, Miss. Laina
15                     Hewlett, Mrs. (Mary D Kingcome)
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
19                              Masselmani, Mrs. Fatima
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
17                         Williams, Mr. Charles Eugene
Name: Name, dtype: object

In [40]:
titanic[task5]['Name'].head(10)

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
15                     Hewlett, Mrs. (Mary D Kingcome)
17                         Williams, Mr. Charles Eugene
19                              Masselmani, Mrs. Fatima
Name: Name, dtype: object