PRACTICA 1: PARTIENDO DEL FICHERO VENTASGROUCERY_MESES.XLSX, CARGAR LOS 3 DATAFRAMES DE LOS MESES DE AGOCTO A OCTUBRE 2014, REALIZAR LAS MODIFICATIONES NECESARIAS, DESPUES DE ANEXAR TODOS LOS DATAFRAMES EN UNO SOLO LLAMAREMOS TRIMESTRE Y RESELVEREMOS LOS SIDUIENTES ENUNCIADOS.
CREAR LA COLUMNA AMOUNT = UNIT PRICE * QUANTITY
CREAR LA COLUMNA ENTERPRISE = 'DELTA ENTERPRISE'
CREAR LA COLUMNA DISCOUNT = 3.35% SOBRE EL AMOUNT, SOLO PARA LOS PEDIDOS QUE SEAN DE FRANCE O GERMANY
VER EN UN TEXTO, LA SUMA DE DISCOUNT ('EL TOTAL DE DESCUENTO ES X')
VER EN UN TEXTO, EL PROMEDIO DE AMOUNT, DE LOS PEDIDOS CUYA CATEGORIA = BEVERAGES ('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES X')
VER EN UN TEXTO, LA SUME DE AMOUNT, DE LOS PEDIDOS DE LA CATEGORIA SEAFOOD CUYA CANTIDAD (QUANTITY) ESTE COMPRENDIDO ENTRE 25-75 ('LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES X')

In [1]:
import pandas as pd

In [2]:
file = 'VentasGroucery_Meses.xlsx'
ago14 = pd.read_excel(file, sheet_name='Ventas Agosto 2014')
sep14 = pd.read_excel(file, sheet_name='Ventas Septiembre 2014')
oct14 = pd.read_excel(file, sheet_name='Ventas Octubre 2014')

In [3]:
trimester = pd.concat([ago14, sep14, oct14], ignore_index=True)
print(trimester.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      185 non-null    int64
 1   Product       185 non-null    object
 2   Category      185 non-null    object
 3   Unit Price    185 non-null    float64
 4   Quantity      185 non-null    int64
 5   Customer      185 non-null    object
 6   Ship City     185 non-null    object
 7   Ship Country  185 non-null    object
 8   Order Date    185 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 13.1+ KB
None

In [4]:
trimester['Amount'] = trimester['Unit Price']*trimester['Quantity']
print(trimester.sample(5))

     Order ID                     Product        Category  Unit Price  \
61      10271                     Geitost  Dairy Products         2.0
85      10280        Rhönbräu Klosterbier       Beverages         6.2
174     10312               Perth Pasties    Meat/Poultry        26.2
109     10289               Aniseed Syrup      Condiments         8.0
86      10281  Teatime Chocolate Biscuits     Confections         7.3

     Quantity               Customer  Ship City Ship Country Order Date  \
61         24  Split Rail Beer & Ale     Lander          USA 2014-09-01
85         30     Berglunds snabbköp      Luleå       Sweden 2014-09-14
174        20      Die Wandernde Kuh  Stuttgart      Germany 2014-10-24
109        30          B's Beverages     London           UK 2014-09-26
86          1       Romero y tomillo     Madrid        Spain 2014-09-14

     Amount
61     48.0
85    186.0
174   524.0
109   240.0
86      7.3

In [5]:
df['Enterprise'] = 'Delta Enterprise'
print(df.sample(5))

NameError: name 'df' is not defined

In [ ]:
trimester.loc[(trimester['Ship Country'] == 'France') | (trimester['Ship Country'] == 'Germany'), 'Discount'] = trimester['Amount'] * 0.0335
trimester['Discount'] = trimester['Discount'].fillna(0)
print(trimester.sample(5))

     Order ID                 Product        Category  Unit Price  Quantity  \
77      10277       Rössle Sauerkraut         Produce        36.4        20
167     10309             Fløtemysost  Dairy Products        17.2         3
53      10267    Raclette Courdavault  Dairy Products        44.0        70
152     10304                Maxilaku     Confections        16.0        30
71      10274  Mozzarella di Giovanni  Dairy Products        27.8         7

                         Customer    Ship City Ship Country Order Date  \
77         Morgenstern Gesundkost      Leipzig      Germany 2014-09-09
167  Hungry Owl All-Night Grocers         Cork      Ireland 2014-10-20
53                 Frankenversand      München      Germany 2014-08-29
152           Tortuga Restaurante  México D.F.       Mexico 2014-10-13
71      Vins et alcools Chevalier        Reims       France 2014-09-06

     Amount        Enterprise  Discount
77    728.0  Delta Enterprise   24.3880
167    51.6  Delta Enterprise    0.0000
53   3080.0  Delta Enterprise  103.1800
152   480.0  Delta Enterprise    0.0000
71    194.6  Delta Enterprise    6.5191

In [ ]:
def descuento(pais):
  if (pais == 'France')|(pais == 'Germany'):
    return 0.0335
  else:
    return 0

trimester['Discount'] = trimester['Amount']*trimester['Ship Country'].apply(descuento)
print(trimester.sample(5))

     Order ID                Product        Category  Unit Price  Quantity  \
91      10283           Genen Shouyu      Condiments        12.4        20
144     10302            Ipoh Coffee       Beverages        36.8        12
35      10260         Ravioli Angelo  Grains/Cereals        15.6        50
156     10306  Nord-Ost Matjeshering         Seafood        20.7        10
57      10269                Geitost  Dairy Products         2.0        60

                 Customer     Ship City Ship Country Order Date  Amount  \
91      LILA-Supermercado  Barquisimeto    Venezuela 2014-09-16   248.0
144      Suprêmes délices     Charleroi      Belgium 2014-10-11   441.6
35     Ottilies Käseladen          Köln      Germany 2014-08-19   780.0
156      Romero y tomillo        Madrid        Spain 2014-10-17   207.0
57   White Clover Markets       Seattle          USA 2014-08-31   120.0

     Discount
91       0.00
144      0.00
35      26.13
156      0.00
57       0.00

In [ ]:
print('EL TOTAL DE DESCUENTO ES', round(trimester['Discount'].sum(),2))

EL TOTAL DE DESCUENTO ES 844.16

In [ ]:
trimester_beverages = trimester['Category']=='Beverages'
print('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES', round(trimester[trimester_beverages]['Amount'].mean(),2))

EL PROMEDIO DE AMOUNT, DE BEVERAGES ES 348.87

In [ ]:
print('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES', round(trimester[trimester['Category']=='Beverages']['Amount'].mean(),2))

EL PROMEDIO DE AMOUNT, DE BEVERAGES ES 348.87

In [ ]:
trimester_seafood = (trimester['Quantity']>=25)&(trimester['Quantity']<=75)&(trimester['Category']=='Seafood')
print('LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES', round(trimester[trimester_seafood]['Amount'].sum(),2))

LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES 7539.5

EL OBJETO iloc EN PANDAS, ME PERMITE ACCEDER A FILAS Y COLUMNAS DE UN DATAFRAME UTILIZANDO LOS INDICES NUMERICOS (BASADO EN POSICIONES), INTERGER LOCATION dataframe.iloc[fila, columna]
ACCESO A UNA POSITION, ACCESO UN RANGO (SLICING), NEGATIVOS, DESDE EL FINAL

In [ ]:
print(trimester.iloc[4, 2])
print(trimester.head(5))

Produce
   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248         Mozzarella di Giovanni  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0
3     10249                           Tofu         Produce        18.6
4     10249          Manjimup Dried Apples         Produce        42.4

   Quantity                   Customer Ship City Ship Country Order Date  \
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04
3         9         Toms Spezialitäten   Münster      Germany 2014-08-05
4        40         Toms Spezialitäten   Münster      Germany 2014-08-05

   Amount  Discount
0     9.8    0.3283
1   174.0    5.8290
2   168.0    5.6280
3   167.4    5.6079
4  1696.0   56.8160

In [ ]:
trimester.iloc[1,1] = 'Sin producto'
print(trimester.head(5))

   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248                   Sin producto  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0
3     10249                           Tofu         Produce        18.6
4     10249          Manjimup Dried Apples         Produce        42.4

   Quantity                   Customer Ship City Ship Country Order Date  \
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04
3         9         Toms Spezialitäten   Münster      Germany 2014-08-05
4        40         Toms Spezialitäten   Münster      Germany 2014-08-05

   Amount  Discount
0     9.8    0.3283
1   174.0    5.8290
2   168.0    5.6280
3   167.4    5.6079
4  1696.0   56.8160

In [ ]:
print(trimester.iloc[:,[2,2,2]].head(5))

                    Customer                   Customer  \
0  Vins et alcools Chevalier  Vins et alcools Chevalier
1  Vins et alcools Chevalier  Vins et alcools Chevalier
2  Vins et alcools Chevalier  Vins et alcools Chevalier
3         Toms Spezialitäten         Toms Spezialitäten
4         Toms Spezialitäten         Toms Spezialitäten

                    Customer
0  Vins et alcools Chevalier
1  Vins et alcools Chevalier
2  Vins et alcools Chevalier
3         Toms Spezialitäten
4         Toms Spezialitäten

In [6]:
print(trimester.columns)

Index(['Order ID', 'Product', 'Category', 'Unit Price', 'Quantity', 'Customer',
       'Ship City', 'Ship Country', 'Order Date', 'Amount'],
      dtype='object')

In [7]:
len(trimester.columns)

10

In [8]:
len(trimester)

185

In [9]:
filas = len(trimester)
for i in range(0,filas):
  print(trimester.iloc[i,1])

Singaporean Hokkien Fried Mee
Mozzarella di Giovanni
Queso Cabrales
Tofu
Manjimup Dried Apples
Louisiana Fiery Hot Pepper Sauce
Jack's New England Clam Chowder
Manjimup Dried Apples
Louisiana Fiery Hot Pepper Sauce
Gustaf's Knäckebröd
Ravioli Angelo
Sir Rodney's Marmalade
Geitost
Camembert Pierrot
Maxilaku
Chartreuse verte
Gorgonzola Telino
Pâté chinois
Longlife Tofu
Guaraná Fantástica
Raclette Courdavault
Chang
Pavlova
Inlagd Sill
Perth Pasties
Original Frankfurter grüne Soße
Schoggi Schokolade
Chartreuse verte
Original Frankfurter grüne Soße
Chang
Chef Anton's Gumbo Mix
Mascarpone Fabioli
Sir Rodney's Scones
Gravad lax
Jack's New England Clam Chowder
Ravioli Angelo
Tarte au sucre
Outback Lager
Sir Rodney's Scones
Steeleye Stout
Chef Anton's Gumbo Mix
Uncle Bob's Organic Dried Pears
Gnocchi di nonna Alice
Pavlova
Guaraná Fantástica
Nord-Ost Matjeshering
Longlife Tofu
Chang
Jack's New England Clam Chowder
Alice Mutton
Outback Lager
Queso Manchego La Pastora
Boston Crab Meat
Raclette Courdavault
Lakkalikööri
Thüringer Rostbratwurst
Mozzarella di Giovanni
Geitost
Mozzarella di Giovanni
Ipoh Coffee
Inlagd Sill
Geitost
Sir Rodney's Marmalade
Gorgonzola Telino
Mozzarella di Giovanni
Boston Crab Meat
Geitost
Gorgonzola Telino
Ikura
Lakkalikööri
Fløtemysost
Mozzarella di Giovanni
Guaraná Fantástica
Raclette Courdavault
Ikura
Konbu
Tarte au sucre
Rössle Sauerkraut
Gula Malacca
Raclette Courdavault
Vegie-spread
Röd Kaviar
Alice Mutton
Guaraná Fantástica
Pâté chinois
Rhönbräu Klosterbier
Teatime Chocolate Biscuits
Guaraná Fantástica
Steeleye Stout
Nord-Ost Matjeshering
Ravioli Angelo
Genen Shouyu
Mozzarella di Giovanni
Teatime Chocolate Biscuits
Camembert Pierrot
Schoggi Schokolade
Gula Malacca
Camembert Pierrot
Laughing Lumberjack Lager
Perth Pasties
Boston Crab Meat
Chai
Tarte au sucre
Steeleye Stout
Pavlova
Sasquatch Ale
Spegesild
Scottish Longbreads
Tourtière
Aniseed Syrup
Wimmers gute Semmelknödel
Chef Anton's Gumbo Mix
Thüringer Rostbratwurst
Maxilaku
Original Frankfurter grüne Soße
Manjimup Dried Apples
Konbu
Gula Malacca
Sir Rodney's Marmalade
Carnarvon Tigers
Guaraná Fantástica
Vegie-spread
Rhönbräu Klosterbier
Camembert Pierrot
Rhönbräu Klosterbier
Ipoh Coffee
Alice Mutton
Chai
Gnocchi di nonna Alice
Queso Cabrales
Pavlova
Gudbrandsdalsost
Chartreuse verte
Mozzarella di Giovanni
Chang
Tarte au sucre
Raclette Courdavault
Inlagd Sill
Teatime Chocolate Biscuits
Outback Lager
Louisiana Hot Spiced Okra
Scottish Longbreads
Gnocchi di nonna Alice
Boston Crab Meat
Ipoh Coffee
Alice Mutton
Rössle Sauerkraut
Boston Crab Meat
Louisiana Fiery Hot Pepper Sauce
Scottish Longbreads
Fløtemysost
Raclette Courdavault
Maxilaku
Thüringer Rostbratwurst
Chartreuse verte
Carnarvon Tigers
Nord-Ost Matjeshering
Perth Pasties
Tourtière
Tarte au sucre
Scottish Longbreads
Outback Lager
Gudbrandsdalsost
Chef Anton's Cajun Seasoning
Grandma's Boysenberry Spread
Singaporean Hokkien Fried Mee
Ipoh Coffee
Fløtemysost
Pavlova
Tarte au sucre
Singaporean Hokkien Fried Mee
Gudbrandsdalsost
Rössle Sauerkraut
Ipoh Coffee
Perth Pasties
Rhönbräu Klosterbier
Inlagd Sill
Tarte au sucre
Mascarpone Fabioli
Escargots de Bourgogne
Sasquatch Ale
Outback Lager
Jack's New England Clam Chowder
Tarte au sucre
Chai

In [10]:
filas = len(trimester)
for i in range(0,filas):
  trimester.iloc[i,1] = 'Sin producto'
print(trimester)

     Order ID       Product        Category  Unit Price  Quantity  \
0       10248  Sin producto  Grains/Cereals         9.8         1
1       10248  Sin producto  Dairy Products        34.8         5
2       10248  Sin producto  Dairy Products        14.0        12
3       10249  Sin producto         Produce        18.6         9
4       10249  Sin producto         Produce        42.4        40
..        ...           ...             ...         ...       ...
180     10315  Sin producto       Beverages        11.2        14
181     10315  Sin producto       Beverages        12.0        30
182     10316  Sin producto         Seafood         7.7        10
183     10316  Sin producto     Confections        39.4        70
184     10317  Sin producto       Beverages        14.4        20

                       Customer    Ship City Ship Country Order Date  Amount
0     Vins et alcools Chevalier        Reims       France 2014-08-04     9.8
1     Vins et alcools Chevalier        Reims       France 2014-08-04   174.0
2     Vins et alcools Chevalier        Reims       France 2014-08-04   168.0
3            Toms Spezialitäten      Münster      Germany 2014-08-05   167.4
4            Toms Spezialitäten      Münster      Germany 2014-08-05  1696.0
..                          ...          ...          ...        ...     ...
180              Island Trading        Cowes           UK 2014-10-27   156.8
181              Island Trading        Cowes           UK 2014-10-27   360.0
182  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28    77.0
183  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28  2758.0
184    Lonesome Pine Restaurant     Portland          USA 2014-10-31   288.0

[185 rows x 10 columns]

In [11]:
filas = len(trimester)
for i in range(0,filas):
  if trimester.iloc[i,7] == 'Germany':
    trimester.iloc[i,1] = 'Producto Alemania'
print(trimester)

     Order ID            Product        Category  Unit Price  Quantity  \
0       10248       Sin producto  Grains/Cereals         9.8         1
1       10248       Sin producto  Dairy Products        34.8         5
2       10248       Sin producto  Dairy Products        14.0        12
3       10249  Producto Alemania         Produce        18.6         9
4       10249  Producto Alemania         Produce        42.4        40
..        ...                ...             ...         ...       ...
180     10315       Sin producto       Beverages        11.2        14
181     10315       Sin producto       Beverages        12.0        30
182     10316       Sin producto         Seafood         7.7        10
183     10316       Sin producto     Confections        39.4        70
184     10317       Sin producto       Beverages        14.4        20

                       Customer    Ship City Ship Country Order Date  Amount
0     Vins et alcools Chevalier        Reims       France 2014-08-04     9.8
1     Vins et alcools Chevalier        Reims       France 2014-08-04   174.0
2     Vins et alcools Chevalier        Reims       France 2014-08-04   168.0
3            Toms Spezialitäten      Münster      Germany 2014-08-05   167.4
4            Toms Spezialitäten      Münster      Germany 2014-08-05  1696.0
..                          ...          ...          ...        ...     ...
180              Island Trading        Cowes           UK 2014-10-27   156.8
181              Island Trading        Cowes           UK 2014-10-27   360.0
182  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28    77.0
183  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28  2758.0
184    Lonesome Pine Restaurant     Portland          USA 2014-10-31   288.0

[185 rows x 10 columns]

In [3]:
data = {'col1': [15,28,66,34],
        'col2': [10,20,30,40]}
df = pd.DataFrame(data)
print(df)

   col1  col2
0    15    10
1    28    20
2    66    30
3    34    40

In [4]:
data = {'col3': [15,28,66,34],
        'col4': [10,20,30,40]}
df2 = pd.DataFrame(data)
print(df2)

   col3  col4
0    15    10
1    28    20
2    66    30
3    34    40

In [5]:
resultado = pd.concat([df,df2])
print(resultado)

   col1  col2  col3  col4
0  15.0  10.0   NaN   NaN
1  28.0  20.0   NaN   NaN
2  66.0  30.0   NaN   NaN
3  34.0  40.0   NaN   NaN
0   NaN   NaN  15.0  10.0
1   NaN   NaN  28.0  20.0
2   NaN   NaN  66.0  30.0
3   NaN   NaN  34.0  40.0

In [6]:
df2 = df2.rename(columns={'col3': 'col1', 'col4': 'col2'})
resultado = pd.concat([df,df2])
print(resultado)

   col1  col2
0    15    10
1    28    20
2    66    30
3    34    40
0    15    10
1    28    20
2    66    30
3    34    40

In [7]:
data = {'col3': [15,28,66,34],
        'col4': [10,20,30,40]}
df2 = pd.DataFrame(data)
df2.columns = df.columns
resultado = pd.concat([df,df2])
print(resultado)

   col1  col2
0    15    10
1    28    20
2    66    30
3    34    40
0    15    10
1    28    20
2    66    30
3    34    40

PRACTICA 2: APROVECHANDO EL DATAFRAME TRIMESTRE, VAMOS A DESCARGAR DE GITHUB EL FICHERO VentasGroucery_Meses.xlsx, CALCULAR EL AMOUNT EN NOV-DEC ANTES DE ANEXAR EL DATAFRAME TRIMESTRE CON LOS MESES DE NOVIEMBRE + DICEMBRE (LLAMAREMOS TRIMESTRE2), CAMBIAR EL ORDEN DE LAS COLUMNAS, PARA VER LA ULTIMA LA PRIMERA. MEDIANTE UN BUCLE FOR RECORRER TODOS LOS REGISTROS DE TRIMESTRE2 Y MODIFICAR EL CAMPO DISCOUNT, CALCULAREMOS UN 2, 75% SOBRE AMOUNT, SI EL AMOUNT ES >250 Y NO TENGA DESCUENTO POR SER DE FRANCE O GERMANY. VER LOS PRIMEROS 20 REGISTROS DEL DATAFRAME TRIMESTRE2

In [5]:
file = 'VentasGroucery Nov-Dic.xlsx'
nov14 = pd.read_excel(file, sheet_name='Ventas Noviembre 2014')
dic14 = pd.read_excel(file, sheet_name='Ventas Diciembre 2014')
trimester2 = pd.concat([nov14, dic14], ignore_index=True)
print(trimester2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdPedido       138 non-null    int64
 1   Producto       138 non-null    object
 2   Categoría      138 non-null    object
 3   Precio Unidad  138 non-null    float64
 4   Cantidad       138 non-null    int64
 5   Cliente        138 non-null    object
 6   Ciudad         138 non-null    object
 7   País           138 non-null    object
 8   Fecha pedido   138 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 9.8+ KB
None

In [6]:
trimester2['Amount'] = trimester2['Precio Unidad']*trimester2['Cantidad']
print(trimester2.sample(5))

     IdPedido                Producto       Categoría  Precio Unidad  \
5       10272  Mozzarella di Giovanni  Dairy Products           27.8
23      10279            Alice Mutton    Meat/Poultry           31.2
131     10293            Vegie-spread      Condiments           35.1
61      10293      Guaraná Fantástica       Beverages            3.6
99      10282   Nord-Ost Matjeshering         Seafood           20.7

     Cantidad                     Cliente           Ciudad     País  \
5          24  Rattlesnake Canyon Grocery      Albuquerque      USA
23         15         Lehmanns Marktstand  Frankfurt a.M.   Germany
131         5         Tortuga Restaurante      México D.F.   Mexico
61         10         Tortuga Restaurante      México D.F.   Mexico
99          6            Romero y tomillo           Madrid    Spain

    Fecha pedido  Amount
5     2014-11-02   667.2
23    2014-11-13   468.0
131   2014-12-29   175.5
61    2014-11-29    36.0
99    2014-12-15   124.2

In [7]:
print(trimester.sample(5))

     Order ID                 Product        Category  Unit Price  Quantity  \
121     10293            Vegie-spread      Condiments        35.1         5
21      10255                   Chang       Beverages        15.2        20
178     10314      Mascarpone Fabioli  Dairy Products        25.6        40
155     10305        Carnarvon Tigers         Seafood        50.0        25
11      10252  Sir Rodney's Marmalade     Confections        64.8        40

                       Customer    Ship City Ship Country Order Date  Amount
121         Tortuga Restaurante  México D.F.       Mexico 2014-09-29   175.5
21           Richter Supermarkt       Genève  Switzerland 2014-08-12   304.0
178  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-26  1024.0
155      Old World Delicatessen    Anchorage          USA 2014-10-14  1250.0
11             Suprêmes délices    Charleroi      Belgium 2014-08-09  2592.0

In [8]:
trimester2 = trimester2.rename(columns={'IdPedido': 'Order ID', 
                                        'Producto': 'Product', 
                                        'Categoría': 'Category', 
                                        'Precio Unidad': 'Unit Price',
                                        'Cantidad': 'Quantity',
                                        'Cliente': 'Customer',
                                        'Ciudad': 'Ship City',
                                        'País': 'Ship Country',
                                        'Fecha pedido': 'Order Date'})
print(trimester2.sample(5))

     Order ID                          Product        Category  Unit Price  \
110     10285                 Boston Crab Meat         Seafood        14.7
77      10273                Gorgonzola Telino  Dairy Products        10.0
63      10293             Rhönbräu Klosterbier       Beverages         6.2
112     10286                   Tarte au sucre     Confections        39.4
124     10290  Original Frankfurter grüne Soße      Condiments        10.4

     Quantity             Customer    Ship City Ship Country Order Date  \
110        40           QUICK-Stop    Cunewalde      Germany 2014-12-20
77         15           QUICK-Stop    Cunewalde      Germany 2014-12-05
63          6  Tortuga Restaurante  México D.F.       Mexico 2014-11-29
112        40           QUICK-Stop    Cunewalde      Germany 2014-12-21
124        10     Comércio Mineiro    São Paulo       Brazil 2014-12-27

     Amount
110   588.0
77    150.0
63     37.2
112  1576.0
124   104.0

In [9]:
year = pd.concat([trimester,trimester2])
print(year.info())

<class 'pandas.core.frame.DataFrame'>
Index: 323 entries, 0 to 137
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      323 non-null    int64
 1   Product       323 non-null    object
 2   Category      323 non-null    object
 3   Unit Price    323 non-null    float64
 4   Quantity      323 non-null    int64
 5   Customer      323 non-null    object
 6   Ship City     323 non-null    object
 7   Ship Country  323 non-null    object
 8   Order Date    323 non-null    datetime64[ns]
 9   Amount        323 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 27.8+ KB
None

In [10]:
def descuento(pais):
  if (pais == 'France')|(pais == 'Germany'):
    return 0.0335
  else:
    return 0

year['Discount'] = year['Amount']*year['Ship Country'].apply(descuento)
print(year.sample(5))

     Order ID               Product        Category  Unit Price  Quantity  \
123     10294     Camembert Pierrot  Dairy Products        27.2        21
37      10260         Outback Lager       Beverages        12.0        21
118     10288             Tourtière    Meat/Poultry         5.9        10
90      10282        Ravioli Angelo  Grains/Cereals        15.6         2
20      10278  Raclette Courdavault  Dairy Products        44.0        15

                       Customer      Ship City Ship Country Order Date  \
123  Rattlesnake Canyon Grocery    Albuquerque          USA 2014-09-30
37           Ottilies Käseladen           Köln      Germany 2014-08-19
118          Reggiani Caseifici  Reggio Emilia        Italy 2014-12-23
90             Romero y tomillo         Madrid        Spain 2014-09-15
20           Berglunds snabbköp          Luleå       Sweden 2014-11-12

     Amount  Discount
123   571.2     0.000
37    252.0     8.442
118    59.0     0.000
90     31.2     0.000
20    660.0     0.000

In [13]:
def descuento2(amount):
  if amount>250:
    return 0.0275
  else:
    return 0

filas = len(year)
for i in range(0,filas):
  if year.iloc[i,10] == 0:
    year['Discount'] = year['Amount']*year['Amount'].apply(descuento2)

print(year.sample(5))

     Order ID           Product      Category  Unit Price  Quantity  \
75      10273  Boston Crab Meat       Seafood        14.7        60
106     10284      Gula Malacca    Condiments        15.5        21
21      10255             Chang     Beverages        15.2        20
94      10280      Pâté chinois  Meat/Poultry        19.2        20
166     10309       Ipoh Coffee     Beverages        36.8        20

                         Customer        Ship City Ship Country Order Date  \
75                     QUICK-Stop        Cunewalde      Germany 2014-12-05
106           Lehmanns Marktstand  Frankfurt a.M.       Germany 2014-12-19
21             Richter Supermarkt           Genève  Switzerland 2014-08-12
94             Berglunds snabbköp            Luleå       Sweden 2014-12-14
166  Hungry Owl All-Night Grocers             Cork      Ireland 2014-10-20

     Amount  Discount
75    882.0  24.25500
106   325.5   8.95125
21    304.0   8.36000
94    384.0  10.56000
166   736.0  20.24000

In [14]:
year = year.reindex(columns=year.columns[::-1])
print(year.head(20))

    Discount  Amount Order Date Ship Country       Ship City  \
0      0.000     9.8 2014-08-04       France           Reims
1      0.000   174.0 2014-08-04       France           Reims
2      0.000   168.0 2014-08-04       France           Reims
3      0.000   167.4 2014-08-05      Germany         Münster
4     46.640  1696.0 2014-08-05      Germany         Münster
5      6.930   252.0 2014-08-08       Brazil  Rio de Janeiro
6      0.000    77.0 2014-08-08       Brazil  Rio de Janeiro
7     40.810  1484.0 2014-08-08       Brazil  Rio de Janeiro
8      9.240   336.0 2014-08-08       France            Lyon
9      0.000   100.8 2014-08-08       France            Lyon
10     0.000   234.0 2014-08-08       France            Lyon
11    71.280  2592.0 2014-08-09      Belgium       Charleroi
12     0.000    50.0 2014-08-09      Belgium       Charleroi
13    29.920  1088.0 2014-08-09      Belgium       Charleroi
14    17.600   640.0 2014-08-10       Brazil  Rio de Janeiro
15    16.632   604.8 2014-08-10       Brazil  Rio de Janeiro
16     0.000   200.0 2014-08-10       Brazil  Rio de Janeiro
17    11.088   403.2 2014-08-11  Switzerland            Bern
18     0.000   168.0 2014-08-11  Switzerland            Bern
19     0.000    54.0 2014-08-11  Switzerland            Bern

                     Customer  Quantity  Unit Price        Category  \
0   Vins et alcools Chevalier         1         9.8  Grains/Cereals
1   Vins et alcools Chevalier         5        34.8  Dairy Products
2   Vins et alcools Chevalier        12        14.0  Dairy Products
3          Toms Spezialitäten         9        18.6         Produce
4          Toms Spezialitäten        40        42.4         Produce
5               Hanari Carnes        15        16.8      Condiments
6               Hanari Carnes        10         7.7         Seafood
7               Hanari Carnes        35        42.4         Produce
8        Victuailles en stock        20        16.8      Condiments
9        Victuailles en stock         6        16.8  Grains/Cereals
10       Victuailles en stock        15        15.6  Grains/Cereals
11           Suprêmes délices        40        64.8     Confections
12           Suprêmes délices        25         2.0  Dairy Products
13           Suprêmes délices        40        27.2  Dairy Products
14              Hanari Carnes        40        16.0     Confections
15              Hanari Carnes        42        14.4       Beverages
16              Hanari Carnes        20        10.0  Dairy Products
17          Chop-suey Chinese        21        19.2    Meat/Poultry
18          Chop-suey Chinese        21         8.0         Produce
19          Chop-suey Chinese        15         3.6       Beverages

                             Product  Order ID
0      Singaporean Hokkien Fried Mee     10248
1             Mozzarella di Giovanni     10248
2                     Queso Cabrales     10248
3                               Tofu     10249
4              Manjimup Dried Apples     10249
5   Louisiana Fiery Hot Pepper Sauce     10250
6    Jack's New England Clam Chowder     10250
7              Manjimup Dried Apples     10250
8   Louisiana Fiery Hot Pepper Sauce     10251
9                Gustaf's Knäckebröd     10251
10                    Ravioli Angelo     10251
11            Sir Rodney's Marmalade     10252
12                           Geitost     10252
13                 Camembert Pierrot     10252
14                          Maxilaku     10253
15                  Chartreuse verte     10253
16                 Gorgonzola Telino     10253
17                      Pâté chinois     10254
18                     Longlife Tofu     10254
19                Guaraná Fantástica     10254