PRACTICA 1: PARTIENDO DEL FICHERO VENTASGROUCERY_MESES.XLSX, CARGAR LOS 3 DATAFRAMES DE LOS MESES DE AGOCTO A OCTUBRE 2014, REALIZAR LAS MODIFICATIONES NECESARIAS, DESPUES DE ANEXAR TODOS LOS DATAFRAMES EN UNO SOLO LLAMAREMOS TRIMESTRE Y RESELVEREMOS LOS SIDUIENTES ENUNCIADOS.
CREAR LA COLUMNA AMOUNT = UNIT PRICE * QUANTITY
CREAR LA COLUMNA ENTERPRISE = 'DELTA ENTERPRISE'
CREAR LA COLUMNA DISCOUNT = 3.35% SOBRE EL AMOUNT, SOLO PARA LOS PEDIDOS QUE SEAN DE FRANCE O GERMANY
VER EN UN TEXTO, LA SUMA DE DISCOUNT ('EL TOTAL DE DESCUENTO ES X')
VER EN UN TEXTO, EL PROMEDIO DE AMOUNT, DE LOS PEDIDOS CUYA CATEGORIA = BEVERAGES ('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES X')
VER EN UN TEXTO, LA SUME DE AMOUNT, DE LOS PEDIDOS DE LA CATEGORIA SEAFOOD CUYA CANTIDAD (QUANTITY) ESTE COMPRENDIDO ENTRE 25-75 ('LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES X')

In [1]:
import pandas as pd

In [2]:
file = 'VentasGroucery_Meses.xlsx'
ago14 = pd.read_excel(file, sheet_name='Ventas Agosto 2014')
sep14 = pd.read_excel(file, sheet_name='Ventas Septiembre 2014')
oct14 = pd.read_excel(file, sheet_name='Ventas Octubre 2014')

In [3]:
trimester = pd.concat([ago14, sep14, oct14], ignore_index=True)
print(trimester.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      185 non-null    int64
 1   Product       185 non-null    object
 2   Category      185 non-null    object
 3   Unit Price    185 non-null    float64
 4   Quantity      185 non-null    int64
 5   Customer      185 non-null    object
 6   Ship City     185 non-null    object
 7   Ship Country  185 non-null    object
 8   Order Date    185 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 13.1+ KB
None

In [4]:
trimester['Amount'] = trimester['Unit Price']*trimester['Quantity']
print(trimester.sample(5))

     Order ID                 Product        Category  Unit Price  Quantity  \
102     10286          Tarte au sucre     Confections        39.4        40
53      10267    Raclette Courdavault  Dairy Products        44.0        70
71      10274  Mozzarella di Giovanni  Dairy Products        27.8         7
119     10293        Carnarvon Tigers         Seafood        50.0        12
115     10291   Manjimup Dried Apples         Produce        42.4         2

                      Customer       Ship City Ship Country Order Date  Amount
102                 QUICK-Stop       Cunewalde      Germany 2014-09-21  1576.0
53              Frankenversand         München      Germany 2014-08-29  3080.0
71   Vins et alcools Chevalier           Reims       France 2014-09-06   194.6
119        Tortuga Restaurante     México D.F.       Mexico 2014-09-29   600.0
115                Que Delícia  Rio de Janeiro       Brazil 2014-09-27    84.8

In [5]:
df['Enterprise'] = 'Delta Enterprise'
print(df.sample(5))

NameError: name 'df' is not defined

In [ ]:
trimester.loc[(trimester['Ship Country'] == 'France') | (trimester['Ship Country'] == 'Germany'), 'Discount'] = trimester['Amount'] * 0.0335
trimester['Discount'] = trimester['Discount'].fillna(0)
print(trimester.sample(5))

     Order ID                 Product        Category  Unit Price  Quantity  \
77      10277       Rössle Sauerkraut         Produce        36.4        20
167     10309             Fløtemysost  Dairy Products        17.2         3
53      10267    Raclette Courdavault  Dairy Products        44.0        70
152     10304                Maxilaku     Confections        16.0        30
71      10274  Mozzarella di Giovanni  Dairy Products        27.8         7

                         Customer    Ship City Ship Country Order Date  \
77         Morgenstern Gesundkost      Leipzig      Germany 2014-09-09
167  Hungry Owl All-Night Grocers         Cork      Ireland 2014-10-20
53                 Frankenversand      München      Germany 2014-08-29
152           Tortuga Restaurante  México D.F.       Mexico 2014-10-13
71      Vins et alcools Chevalier        Reims       France 2014-09-06

     Amount        Enterprise  Discount
77    728.0  Delta Enterprise   24.3880
167    51.6  Delta Enterprise    0.0000
53   3080.0  Delta Enterprise  103.1800
152   480.0  Delta Enterprise    0.0000
71    194.6  Delta Enterprise    6.5191

In [ ]:
def descuento(pais):
  if (pais == 'France')|(pais == 'Germany'):
    return 0.0335
  else:
    return 0

trimester['Discount'] = trimester['Amount']*trimester['Ship Country'].apply(descuento)
print(trimester.sample(5))

     Order ID                Product        Category  Unit Price  Quantity  \
91      10283           Genen Shouyu      Condiments        12.4        20
144     10302            Ipoh Coffee       Beverages        36.8        12
35      10260         Ravioli Angelo  Grains/Cereals        15.6        50
156     10306  Nord-Ost Matjeshering         Seafood        20.7        10
57      10269                Geitost  Dairy Products         2.0        60

                 Customer     Ship City Ship Country Order Date  Amount  \
91      LILA-Supermercado  Barquisimeto    Venezuela 2014-09-16   248.0
144      Suprêmes délices     Charleroi      Belgium 2014-10-11   441.6
35     Ottilies Käseladen          Köln      Germany 2014-08-19   780.0
156      Romero y tomillo        Madrid        Spain 2014-10-17   207.0
57   White Clover Markets       Seattle          USA 2014-08-31   120.0

     Discount
91       0.00
144      0.00
35      26.13
156      0.00
57       0.00

In [ ]:
print('EL TOTAL DE DESCUENTO ES', round(trimester['Discount'].sum(),2))

EL TOTAL DE DESCUENTO ES 844.16

In [ ]:
trimester_beverages = trimester['Category']=='Beverages'
print('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES', round(trimester[trimester_beverages]['Amount'].mean(),2))

EL PROMEDIO DE AMOUNT, DE BEVERAGES ES 348.87

In [ ]:
print('EL PROMEDIO DE AMOUNT, DE BEVERAGES ES', round(trimester[trimester['Category']=='Beverages']['Amount'].mean(),2))

EL PROMEDIO DE AMOUNT, DE BEVERAGES ES 348.87

In [ ]:
trimester_seafood = (trimester['Quantity']>=25)&(trimester['Quantity']<=75)&(trimester['Category']=='Seafood')
print('LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES', round(trimester[trimester_seafood]['Amount'].sum(),2))

LA SUMA DE AMOUNT DE SEAFOOD ENTRE 25-75 ES 7539.5

EL OBJETO iloc EN PANDAS, ME PERMITE ACCEDER A FILAS Y COLUMNAS DE UN DATAFRAME UTILIZANDO LOS INDICES NUMERICOS (BASADO EN POSICIONES), INTERGER LOCATION dataframe.iloc[fila, columna]
ACCESO A UNA POSITION, ACCESO UN RANGO (SLICING), NEGATIVOS, DESDE EL FINAL

In [ ]:
print(trimester.iloc[4, 2])
print(trimester.head(5))

Produce
   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248         Mozzarella di Giovanni  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0
3     10249                           Tofu         Produce        18.6
4     10249          Manjimup Dried Apples         Produce        42.4

   Quantity                   Customer Ship City Ship Country Order Date  \
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04
3         9         Toms Spezialitäten   Münster      Germany 2014-08-05
4        40         Toms Spezialitäten   Münster      Germany 2014-08-05

   Amount  Discount
0     9.8    0.3283
1   174.0    5.8290
2   168.0    5.6280
3   167.4    5.6079
4  1696.0   56.8160

In [ ]:
trimester.iloc[1,1] = 'Sin producto'
print(trimester.head(5))

   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248                   Sin producto  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0
3     10249                           Tofu         Produce        18.6
4     10249          Manjimup Dried Apples         Produce        42.4

   Quantity                   Customer Ship City Ship Country Order Date  \
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04
3         9         Toms Spezialitäten   Münster      Germany 2014-08-05
4        40         Toms Spezialitäten   Münster      Germany 2014-08-05

   Amount  Discount
0     9.8    0.3283
1   174.0    5.8290
2   168.0    5.6280
3   167.4    5.6079
4  1696.0   56.8160

In [ ]:
print(trimester.iloc[:,[2,2,2]].head(5))

                    Customer                   Customer  \
0  Vins et alcools Chevalier  Vins et alcools Chevalier
1  Vins et alcools Chevalier  Vins et alcools Chevalier
2  Vins et alcools Chevalier  Vins et alcools Chevalier
3         Toms Spezialitäten         Toms Spezialitäten
4         Toms Spezialitäten         Toms Spezialitäten

                    Customer
0  Vins et alcools Chevalier
1  Vins et alcools Chevalier
2  Vins et alcools Chevalier
3         Toms Spezialitäten
4         Toms Spezialitäten

In [6]:
print(trimester.columns)

Index(['Order ID', 'Product', 'Category', 'Unit Price', 'Quantity', 'Customer',
       'Ship City', 'Ship Country', 'Order Date', 'Amount'],
      dtype='object')

In [7]:
len(trimester.columns)

10

In [8]:
len(trimester)

185

In [9]:
filas = len(trimester)
for i in range(0,filas):
  print(trimester.iloc[i,1])

Singaporean Hokkien Fried Mee
Mozzarella di Giovanni
Queso Cabrales
Tofu
Manjimup Dried Apples
Louisiana Fiery Hot Pepper Sauce
Jack's New England Clam Chowder
Manjimup Dried Apples
Louisiana Fiery Hot Pepper Sauce
Gustaf's Knäckebröd
Ravioli Angelo
Sir Rodney's Marmalade
Geitost
Camembert Pierrot
Maxilaku
Chartreuse verte
Gorgonzola Telino
Pâté chinois
Longlife Tofu
Guaraná Fantástica
Raclette Courdavault
Chang
Pavlova
Inlagd Sill
Perth Pasties
Original Frankfurter grüne Soße
Schoggi Schokolade
Chartreuse verte
Original Frankfurter grüne Soße
Chang
Chef Anton's Gumbo Mix
Mascarpone Fabioli
Sir Rodney's Scones
Gravad lax
Jack's New England Clam Chowder
Ravioli Angelo
Tarte au sucre
Outback Lager
Sir Rodney's Scones
Steeleye Stout
Chef Anton's Gumbo Mix
Uncle Bob's Organic Dried Pears
Gnocchi di nonna Alice
Pavlova
Guaraná Fantástica
Nord-Ost Matjeshering
Longlife Tofu
Chang
Jack's New England Clam Chowder
Alice Mutton
Outback Lager
Queso Manchego La Pastora
Boston Crab Meat
Raclette Courdavault
Lakkalikööri
Thüringer Rostbratwurst
Mozzarella di Giovanni
Geitost
Mozzarella di Giovanni
Ipoh Coffee
Inlagd Sill
Geitost
Sir Rodney's Marmalade
Gorgonzola Telino
Mozzarella di Giovanni
Boston Crab Meat
Geitost
Gorgonzola Telino
Ikura
Lakkalikööri
Fløtemysost
Mozzarella di Giovanni
Guaraná Fantástica
Raclette Courdavault
Ikura
Konbu
Tarte au sucre
Rössle Sauerkraut
Gula Malacca
Raclette Courdavault
Vegie-spread
Röd Kaviar
Alice Mutton
Guaraná Fantástica
Pâté chinois
Rhönbräu Klosterbier
Teatime Chocolate Biscuits
Guaraná Fantástica
Steeleye Stout
Nord-Ost Matjeshering
Ravioli Angelo
Genen Shouyu
Mozzarella di Giovanni
Teatime Chocolate Biscuits
Camembert Pierrot
Schoggi Schokolade
Gula Malacca
Camembert Pierrot
Laughing Lumberjack Lager
Perth Pasties
Boston Crab Meat
Chai
Tarte au sucre
Steeleye Stout
Pavlova
Sasquatch Ale
Spegesild
Scottish Longbreads
Tourtière
Aniseed Syrup
Wimmers gute Semmelknödel
Chef Anton's Gumbo Mix
Thüringer Rostbratwurst
Maxilaku
Original Frankfurter grüne Soße
Manjimup Dried Apples
Konbu
Gula Malacca
Sir Rodney's Marmalade
Carnarvon Tigers
Guaraná Fantástica
Vegie-spread
Rhönbräu Klosterbier
Camembert Pierrot
Rhönbräu Klosterbier
Ipoh Coffee
Alice Mutton
Chai
Gnocchi di nonna Alice
Queso Cabrales
Pavlova
Gudbrandsdalsost
Chartreuse verte
Mozzarella di Giovanni
Chang
Tarte au sucre
Raclette Courdavault
Inlagd Sill
Teatime Chocolate Biscuits
Outback Lager
Louisiana Hot Spiced Okra
Scottish Longbreads
Gnocchi di nonna Alice
Boston Crab Meat
Ipoh Coffee
Alice Mutton
Rössle Sauerkraut
Boston Crab Meat
Louisiana Fiery Hot Pepper Sauce
Scottish Longbreads
Fløtemysost
Raclette Courdavault
Maxilaku
Thüringer Rostbratwurst
Chartreuse verte
Carnarvon Tigers
Nord-Ost Matjeshering
Perth Pasties
Tourtière
Tarte au sucre
Scottish Longbreads
Outback Lager
Gudbrandsdalsost
Chef Anton's Cajun Seasoning
Grandma's Boysenberry Spread
Singaporean Hokkien Fried Mee
Ipoh Coffee
Fløtemysost
Pavlova
Tarte au sucre
Singaporean Hokkien Fried Mee
Gudbrandsdalsost
Rössle Sauerkraut
Ipoh Coffee
Perth Pasties
Rhönbräu Klosterbier
Inlagd Sill
Tarte au sucre
Mascarpone Fabioli
Escargots de Bourgogne
Sasquatch Ale
Outback Lager
Jack's New England Clam Chowder
Tarte au sucre
Chai

In [10]:
filas = len(trimester)
for i in range(0,filas):
  trimester.iloc[i,1] = 'Sin producto'
print(trimester)

     Order ID       Product        Category  Unit Price  Quantity  \
0       10248  Sin producto  Grains/Cereals         9.8         1
1       10248  Sin producto  Dairy Products        34.8         5
2       10248  Sin producto  Dairy Products        14.0        12
3       10249  Sin producto         Produce        18.6         9
4       10249  Sin producto         Produce        42.4        40
..        ...           ...             ...         ...       ...
180     10315  Sin producto       Beverages        11.2        14
181     10315  Sin producto       Beverages        12.0        30
182     10316  Sin producto         Seafood         7.7        10
183     10316  Sin producto     Confections        39.4        70
184     10317  Sin producto       Beverages        14.4        20

                       Customer    Ship City Ship Country Order Date  Amount
0     Vins et alcools Chevalier        Reims       France 2014-08-04     9.8
1     Vins et alcools Chevalier        Reims       France 2014-08-04   174.0
2     Vins et alcools Chevalier        Reims       France 2014-08-04   168.0
3            Toms Spezialitäten      Münster      Germany 2014-08-05   167.4
4            Toms Spezialitäten      Münster      Germany 2014-08-05  1696.0
..                          ...          ...          ...        ...     ...
180              Island Trading        Cowes           UK 2014-10-27   156.8
181              Island Trading        Cowes           UK 2014-10-27   360.0
182  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28    77.0
183  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28  2758.0
184    Lonesome Pine Restaurant     Portland          USA 2014-10-31   288.0

[185 rows x 10 columns]

In [11]:
filas = len(trimester)
for i in range(0,filas):
  if trimester.iloc[i,7] == 'Germany':
    trimester.iloc[i,1] = 'Producto Alemania'
print(trimester)

     Order ID            Product        Category  Unit Price  Quantity  \
0       10248       Sin producto  Grains/Cereals         9.8         1
1       10248       Sin producto  Dairy Products        34.8         5
2       10248       Sin producto  Dairy Products        14.0        12
3       10249  Producto Alemania         Produce        18.6         9
4       10249  Producto Alemania         Produce        42.4        40
..        ...                ...             ...         ...       ...
180     10315       Sin producto       Beverages        11.2        14
181     10315       Sin producto       Beverages        12.0        30
182     10316       Sin producto         Seafood         7.7        10
183     10316       Sin producto     Confections        39.4        70
184     10317       Sin producto       Beverages        14.4        20

                       Customer    Ship City Ship Country Order Date  Amount
0     Vins et alcools Chevalier        Reims       France 2014-08-04     9.8
1     Vins et alcools Chevalier        Reims       France 2014-08-04   174.0
2     Vins et alcools Chevalier        Reims       France 2014-08-04   168.0
3            Toms Spezialitäten      Münster      Germany 2014-08-05   167.4
4            Toms Spezialitäten      Münster      Germany 2014-08-05  1696.0
..                          ...          ...          ...        ...     ...
180              Island Trading        Cowes           UK 2014-10-27   156.8
181              Island Trading        Cowes           UK 2014-10-27   360.0
182  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28    77.0
183  Rattlesnake Canyon Grocery  Albuquerque          USA 2014-10-28  2758.0
184    Lonesome Pine Restaurant     Portland          USA 2014-10-31   288.0

[185 rows x 10 columns]