PRACTICA 2: APROVECHANDO EL DATAFRAME TRIMESTRE, VAMOS A DESCARGAR DE GITHUB EL FICHERO VentasGroucery_Meses.xlsx, CALCULAR EL AMOUNT EN NOV-DEC ANTES DE ANEXAR EL DATAFRAME TRIMESTRE CON LOS MESES DE NOVIEMBRE + DICEMBRE (LLAMAREMOS TRIMESTRE2), CAMBIAR EL ORDEN DE LAS COLUMNAS, PARA VER LA ULTIMA LA PRIMERA. MEDIANTE UN BUCLE FOR RECORRER TODOS LOS REGISTROS DE TRIMESTRE2 Y MODIFICAR EL CAMPO DISCOUNT, CALCULAREMOS UN 2, 75% SOBRE AMOUNT, SI EL AMOUNT ES >250 Y NO TENGA DESCUENTO POR SER DE FRANCE O GERMANY. VER LOS PRIMEROS 20 REGISTROS DEL DATAFRAME TRIMESTRE2

In [1]:
import pandas as pd

In [2]:
file1 = 'VentasGroucery_Meses.xlsx'
ago14 = pd.read_excel(file1, sheet_name='Ventas Agosto 2014')
sep14 = pd.read_excel(file1, sheet_name='Ventas Septiembre 2014')
oct14 = pd.read_excel(file1, sheet_name='Ventas Octubre 2014')
trimester1 = pd.concat([ago14, sep14, oct14], ignore_index=True)
print(trimester1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      185 non-null    int64
 1   Product       185 non-null    object
 2   Category      185 non-null    object
 3   Unit Price    185 non-null    float64
 4   Quantity      185 non-null    int64
 5   Customer      185 non-null    object
 6   Ship City     185 non-null    object
 7   Ship Country  185 non-null    object
 8   Order Date    185 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 13.1+ KB
None

In [3]:
file2 = 'VentasGroucery Nov-Dic.xlsx'
nov14 = pd.read_excel(file2, sheet_name='Ventas Noviembre 2014')
dic14 = pd.read_excel(file2, sheet_name='Ventas Diciembre 2014')
trimester2 = pd.concat([nov14, dic14], ignore_index=True)
print(trimester2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdPedido       138 non-null    int64
 1   Producto       138 non-null    object
 2   Categoría      138 non-null    object
 3   Precio Unidad  138 non-null    float64
 4   Cantidad       138 non-null    int64
 5   Cliente        138 non-null    object
 6   Ciudad         138 non-null    object
 7   País           138 non-null    object
 8   Fecha pedido   138 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 9.8+ KB
None

In [4]:
# or bimensual.columns = trimestre.columns
trimester2 = trimester2.rename(columns={'IdPedido': 'Order ID', 
                                        'Producto': 'Product', 
                                        'Categoría': 'Category', 
                                        'Precio Unidad': 'Unit Price',
                                        'Cantidad': 'Quantity',
                                        'Cliente': 'Customer',
                                        'Ciudad': 'Ship City',
                                        'País': 'Ship Country',
                                        'Fecha pedido': 'Order Date'})
print(trimester2.sample(5))

     Order ID                          Product     Category  Unit Price  \
93      10280               Guaraná Fantástica    Beverages         3.6
124     10290  Original Frankfurter grüne Soße   Condiments        10.4
101     10283                     Genen Shouyu   Condiments        12.4
22      10278                       Röd Kaviar      Seafood        12.0
114     10287                          Pavlova  Confections        13.9

     Quantity            Customer       Ship City Ship Country Order Date
93         12  Berglunds snabbköp           Luleå       Sweden 2014-12-14
124        10    Comércio Mineiro       São Paulo       Brazil 2014-12-27
101        20   LILA-Supermercado    Barquisimeto    Venezuela 2014-12-16
22         25  Berglunds snabbköp           Luleå       Sweden 2014-11-12
114        40  Ricardo Adocicados  Rio de Janeiro       Brazil 2014-12-22

In [5]:
year = pd.concat([trimester1,trimester2], ignore_index=True)
print(year.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      323 non-null    int64
 1   Product       323 non-null    object
 2   Category      323 non-null    object
 3   Unit Price    323 non-null    float64
 4   Quantity      323 non-null    int64
 5   Customer      323 non-null    object
 6   Ship City     323 non-null    object
 7   Ship Country  323 non-null    object
 8   Order Date    323 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 22.8+ KB
None

In [6]:
year['Amount'] = year['Unit Price']*year['Quantity']
print(year.sample(5))

     Order ID                 Product        Category  Unit Price  Quantity  \
131     10296        Gudbrandsdalsost  Dairy Products        28.8        15
142     10301  Gnocchi di nonna Alice  Grains/Cereals        30.4        20
146     10302       Rössle Sauerkraut         Produce        36.4        28
88      10281          Steeleye Stout       Beverages        14.4         4
245     10293        Carnarvon Tigers         Seafood        50.0        12

                Customer     Ship City Ship Country Order Date  Amount
131    LILA-Supermercado  Barquisimeto    Venezuela 2014-10-04   432.0
142    Die Wandernde Kuh     Stuttgart      Germany 2014-10-10   608.0
146     Suprêmes délices     Charleroi      Belgium 2014-10-11  1019.2
88      Romero y tomillo        Madrid        Spain 2014-09-14    57.6
245  Tortuga Restaurante   México D.F.       Mexico 2014-11-29   600.0

In [7]:
def descuento(pais):
  if (pais == 'France')|(pais == 'Germany'):
    return 0.0335
  else:
    return 0

year['Discount'] = year['Amount']*year['Ship Country'].apply(descuento)
print(year.sample(5))

     Order ID              Product      Category  Unit Price  Quantity  \
186     10270          Inlagd Sill       Seafood        15.2        30
49      10265         Alice Mutton  Meat/Poultry        31.2        30
145     10302         Alice Mutton  Meat/Poultry        31.2        40
302     10288  Scottish Longbreads   Confections        10.0         3
91      10283         Genen Shouyu    Condiments        12.4        20

                 Customer      Ship City Ship Country Order Date  Amount  \
186        Wartian Herkku           Oulu      Finland 2014-11-01   456.0
49   Blondel père et fils     Strasbourg       France 2014-08-25   936.0
145      Suprêmes délices      Charleroi      Belgium 2014-10-11  1248.0
302    Reggiani Caseifici  Reggio Emilia        Italy 2014-12-23    30.0
91      LILA-Supermercado   Barquisimeto    Venezuela 2014-09-16   248.0

     Discount
186     0.000
49     31.356
145     0.000
302     0.000
91      0.000

In [8]:
year = year.iloc[:,[10,9,8,7,6,5,4,3,2,1,0]]
print(year.head(10))

   Discount  Amount Order Date Ship Country       Ship City  \
0    0.3283     9.8 2014-08-04       France           Reims
1    5.8290   174.0 2014-08-04       France           Reims
2    5.6280   168.0 2014-08-04       France           Reims
3    5.6079   167.4 2014-08-05      Germany         Münster
4   56.8160  1696.0 2014-08-05      Germany         Münster
5    0.0000   252.0 2014-08-08       Brazil  Rio de Janeiro
6    0.0000    77.0 2014-08-08       Brazil  Rio de Janeiro
7    0.0000  1484.0 2014-08-08       Brazil  Rio de Janeiro
8   11.2560   336.0 2014-08-08       France            Lyon
9    3.3768   100.8 2014-08-08       France            Lyon

                    Customer  Quantity  Unit Price        Category  \
0  Vins et alcools Chevalier         1         9.8  Grains/Cereals
1  Vins et alcools Chevalier         5        34.8  Dairy Products
2  Vins et alcools Chevalier        12        14.0  Dairy Products
3         Toms Spezialitäten         9        18.6         Produce
4         Toms Spezialitäten        40        42.4         Produce
5              Hanari Carnes        15        16.8      Condiments
6              Hanari Carnes        10         7.7         Seafood
7              Hanari Carnes        35        42.4         Produce
8       Victuailles en stock        20        16.8      Condiments
9       Victuailles en stock         6        16.8  Grains/Cereals

                            Product  Order ID
0     Singaporean Hokkien Fried Mee     10248
1            Mozzarella di Giovanni     10248
2                    Queso Cabrales     10248
3                              Tofu     10249
4             Manjimup Dried Apples     10249
5  Louisiana Fiery Hot Pepper Sauce     10250
6   Jack's New England Clam Chowder     10250
7             Manjimup Dried Apples     10250
8  Louisiana Fiery Hot Pepper Sauce     10251
9               Gustaf's Knäckebröd     10251

In [9]:
filas = len(year)
for i in range(0,filas):
  if (year.iloc[i,0] == 0)&(year.iloc[i,1] > 250):
    year.iloc[i,0] = year.iloc[i,1]*0.0275

print(year.head(20))

    Discount  Amount Order Date Ship Country       Ship City  \
0     0.3283     9.8 2014-08-04       France           Reims
1     5.8290   174.0 2014-08-04       France           Reims
2     5.6280   168.0 2014-08-04       France           Reims
3     5.6079   167.4 2014-08-05      Germany         Münster
4    56.8160  1696.0 2014-08-05      Germany         Münster
5     6.9300   252.0 2014-08-08       Brazil  Rio de Janeiro
6     0.0000    77.0 2014-08-08       Brazil  Rio de Janeiro
7    40.8100  1484.0 2014-08-08       Brazil  Rio de Janeiro
8    11.2560   336.0 2014-08-08       France            Lyon
9     3.3768   100.8 2014-08-08       France            Lyon
10    7.8390   234.0 2014-08-08       France            Lyon
11   71.2800  2592.0 2014-08-09      Belgium       Charleroi
12    0.0000    50.0 2014-08-09      Belgium       Charleroi
13   29.9200  1088.0 2014-08-09      Belgium       Charleroi
14   17.6000   640.0 2014-08-10       Brazil  Rio de Janeiro
15   16.6320   604.8 2014-08-10       Brazil  Rio de Janeiro
16    0.0000   200.0 2014-08-10       Brazil  Rio de Janeiro
17   11.0880   403.2 2014-08-11  Switzerland            Bern
18    0.0000   168.0 2014-08-11  Switzerland            Bern
19    0.0000    54.0 2014-08-11  Switzerland            Bern

                     Customer  Quantity  Unit Price        Category  \
0   Vins et alcools Chevalier         1         9.8  Grains/Cereals
1   Vins et alcools Chevalier         5        34.8  Dairy Products
2   Vins et alcools Chevalier        12        14.0  Dairy Products
3          Toms Spezialitäten         9        18.6         Produce
4          Toms Spezialitäten        40        42.4         Produce
5               Hanari Carnes        15        16.8      Condiments
6               Hanari Carnes        10         7.7         Seafood
7               Hanari Carnes        35        42.4         Produce
8        Victuailles en stock        20        16.8      Condiments
9        Victuailles en stock         6        16.8  Grains/Cereals
10       Victuailles en stock        15        15.6  Grains/Cereals
11           Suprêmes délices        40        64.8     Confections
12           Suprêmes délices        25         2.0  Dairy Products
13           Suprêmes délices        40        27.2  Dairy Products
14              Hanari Carnes        40        16.0     Confections
15              Hanari Carnes        42        14.4       Beverages
16              Hanari Carnes        20        10.0  Dairy Products
17          Chop-suey Chinese        21        19.2    Meat/Poultry
18          Chop-suey Chinese        21         8.0         Produce
19          Chop-suey Chinese        15         3.6       Beverages

                             Product  Order ID
0      Singaporean Hokkien Fried Mee     10248
1             Mozzarella di Giovanni     10248
2                     Queso Cabrales     10248
3                               Tofu     10249
4              Manjimup Dried Apples     10249
5   Louisiana Fiery Hot Pepper Sauce     10250
6    Jack's New England Clam Chowder     10250
7              Manjimup Dried Apples     10250
8   Louisiana Fiery Hot Pepper Sauce     10251
9                Gustaf's Knäckebröd     10251
10                    Ravioli Angelo     10251
11            Sir Rodney's Marmalade     10252
12                           Geitost     10252
13                 Camembert Pierrot     10252
14                          Maxilaku     10253
15                  Chartreuse verte     10253
16                 Gorgonzola Telino     10253
17                      Pâté chinois     10254
18                     Longlife Tofu     10254
19                Guaraná Fantástica     10254

In [10]:
print(year.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Discount      323 non-null    float64
 1   Amount        323 non-null    float64
 2   Order Date    323 non-null    datetime64[ns]
 3   Ship Country  323 non-null    object
 4   Ship City     323 non-null    object
 5   Customer      323 non-null    object
 6   Quantity      323 non-null    int64
 7   Unit Price    323 non-null    float64
 8   Category      323 non-null    object
 9   Product       323 non-null    object
 10  Order ID      323 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 27.9+ KB
None

In [11]:
year.groupby(['Category']).Amount.sum()
# В этой команде происходит группировка данных столбца "Amount" по уникальным значениям столбца "Category" в DataFrame `year`, 
# а затем вычисление суммы значений столбца "Amount" для каждой категории.

Category
Beverages         23678.8
Condiments        11043.2
Confections       28385.9
Dairy Products    26430.8
Grains/Cereals     2816.4
Meat/Poultry      18682.3
Produce            7766.6
Seafood           18764.1
Name: Amount, dtype: float64

In [12]:
year.groupby(['Ship Country', 'Category']).Amount.sum()

Ship Country  Category
Austria       Beverages          860.8
              Condiments        1105.0
              Confections        834.0
              Dairy Products     153.6
              Produce            288.0
                                 ...
Venezuela     Beverages           86.4
              Condiments         900.0
              Confections       1688.7
              Dairy Products    3851.0
              Meat/Poultry       990.0
Name: Amount, Length: 83, dtype: float64

In [14]:
year_group1 = year.groupby(['Category']).Amount.sum()
year_group1 = pd.DataFrame(year_group1, columns=['Amount'])
print(year_group1)

                 Amount
Category
Beverages       23678.8
Condiments      11043.2
Confections     28385.9
Dairy Products  26430.8
Grains/Cereals   2816.4
Meat/Poultry    18682.3
Produce          7766.6
Seafood         18764.1

In [15]:
year_group1 = year_group1.reset_index()
print(year_group1)
# для сброса индексов группы данных, полученной после группировки с помощью `groupby`
# индексы будут снова присвоены последовательно от 0 до N-1

         Category   Amount
0       Beverages  23678.8
1      Condiments  11043.2
2     Confections  28385.9
3  Dairy Products  26430.8
4  Grains/Cereals   2816.4
5    Meat/Poultry  18682.3
6         Produce   7766.6
7         Seafood  18764.1

In [17]:
file3 = 'Category_Amount.csv'
year_group1.to_csv(file3, sep=',', index=True)
# выгрузилось в файлик

In [19]:
file4 = 'Category_Amount.xlsx'
year_group1.to_excel(file4, sheet_name='sheet 1', header=True, index=False)