#### La estructura de decision IF, analiza una condition y si se cumple ejecuta una parte vardadera, si no se cumple se ejecuta una parte falsa analizar una condicion significa comprar 2 valores mediante un operador de comparacion

In [5]:
alfa = 'Barcelona'
if alfa == 'barcelona':
  # Parte verdadera
  print('Verdadero')
else:
  # Parte falsa
  print('Falso')

Falso

#### PRACTICA 1: CON LA LISTA DE MESES Y MEDIANTE UN BUCLE FOR IMPRIMIR TOROS LOS MESES, MENOS JUNIO

#### PRACTICA 2: CON UNA LISTA DE NUMEROS (15, 33, 48, 62, 25, 57, 84) Y MEDIANTE UN BUCLE FOR IMPRIMIR SOLAMENTE LOS NUMEROS MAYORES DE 40

#### PRACTICA 3: CON LA LISTA DE MESES Y MEDIANTE UN BUCLE FOR IMPRIMIR TODOS LOS MESES, CUYO NUMERO DE CARACTERES SE SU NOBRE SEA IGUAL 5

In [8]:
meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre']

for mes in meses:
  if mes != 'junio':
    print(mes)

enero
febrero
marzo
abril
mayo
julio
agosto
septiembre
octubre
noviembre
diciembre

In [7]:
numeros = [15, 33, 48, 62, 25, 57, 84]

for i in numeros:
  if i > 40:
    print(i)

48
62
57
84

In [9]:
meses = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre']

for mes in meses:
  if len(mes) == 5:
    print(mes)

enero
marzo
abril
junio
julio

In [10]:
provincia = 'Barcelona'
if provincia == 'Barcelona':

elif provincia == 'Gerona':

elif provincia == 'Lerida':

elif provincia == 'Tarragona':
  
else:

IndentationError: expected an indented block after 'if' statement on line 2 (1788466035.py, line 4)

In [12]:
x = 10
if x <= 25:
  print('Comprendido entre 0-25')
elif x <= 50:
  print('Comprendido entre 25-50')
elif x <= 75:
  print('Comprendido entre 50-75')
elif x <= 100:
  print('Comprendido entre 75-100')

Comprendido entre 0-25

#### PRACTICA 4: MEDIANTE UNA LISTA NUMERICA [13, 27, 34, 87, 123, 46, 61 88, 32, -6, 150, 28] Y USANDO UN BUCLE FOR COMBIANDO CON UN IF ANIDADO, CLASIFICAR LOS NUMEROS POR MULRIPLOS DE 30 HASTA EL 120, SI NO ESTA EN ESE INTERVALO MOSTRAR MENSAJE 'EL NUMERO 13 ESTA COMPRENDIDO ENTRE 0-30'

In [14]:
numeros = [13, 27, 34, 87, 123, 46, 61, 88, 32, -6, 150, 28]
for i in numeros:
  if i < 0:
    print('Numero', i, 'esta fuera de intervalo')
  elif i <= 30:
    print('El numero', i, 'esta comprendido entre 0-30')
  elif i <= 60:
    print('El numero', i, 'esta comprendido entre 30-60')
  elif i <= 90:
    print('El numero', i, 'esta comprendido entre 60-90')
  elif i <= 120:
    print('El numero', i, 'esta comprendido entre 90-120')
  else:
    print('Numero', i, 'esta fuera de intervalo')

El numero 13 esta comprendido entre 0-30
El numero 27 esta comprendido entre 0-30
El numero 34 esta comprendido entre 30-60
El numero 87 esta comprendido entre 60-90
Numero 123 esta fuera de intervalo
El numero 46 esta comprendido entre 30-60
El numero 61 esta comprendido entre 60-90
El numero 88 esta comprendido entre 60-90
El numero 32 esta comprendido entre 30-60
Numero -6 esta fuera de intervalo
Numero 150 esta fuera de intervalo
El numero 28 esta comprendido entre 0-30

In [15]:
# El switch...case Python, solo disponible a partir de la version 3.10 se implenta con match + case
x = 10
match x:
  case 1:
    print('x vale 1')
  case 2:
    print('x vale 2')
  case 10:
    print('x vale 10')

x vale 10

In [16]:
x = 'Gerona'
match x:
  case 'Barcelona':
    print('x vale 1')
  case 'Gerona':
    print('x vale 2')
  case 'Lerida':
    print('x vale 10')

x vale 2

In [18]:
dia = 'Domingo'
for letra in dia:
  if letra == 'n':
    continue
  else:
    print(letra)

D
o
m
i
g
o

In [19]:
dia = 'DOMINGO'
for letra in dia:
  if letra == 'N':
    continue
  else:
    print(letra.lower())

d
o
m
i
g
o

#### PRACTICA 5: IMPRIMIR LAS LETRAS EN MAYUSLULAS DE LA PALABRA supercalifragiligticoespialidoso, MENOS LAS LETRAS a

#### PRACTICA 6: APROVECHANDO LA LISTA NUMERICO DE LA PRACTICA 4, IMPRIMIR LOS VALORES DE MANERA INDICIDUAL HASTA QUE LA SUMA DE ESTOS VALORES SEA MAYOR 100

#### PRACTICA 7: IMPRIMIR LA LISTA DE LAS SIGUIENTES SIUDADES BARCELONA, MURCIA, VALENCIA, TOLEDO, BILBAO, SALAMANCA, TERUEL, MADRID, TARRAGONA SIEMPRE Y CUANDO EL NUMERO DE CARACTERES DE SU NOMBRE SEA DIFERENTE DE 6